<div class="title">{{product.name}}</div>
<div class="param">
  <span class="key">Name</span>
  <span class="value">{{product.name}}</span>
</div>
<div class="param">
  <span class="key">Description</span>
  <span class="value">{{product.description}}</span>
</div>
<div class="param">
  <span class="key">Category</span>
  <span class="value">{{product.category | titlecase }}</span>
</div>
<div class="param">
  <span class="key">Ingredients</span>
  <span class="value">
      <ul>
          <li *ngFor="let ingredient of product.ingredients">
            {{ingredient}}
          </li>
        </ul>
  </span>
</div>
<div class="param">
  <span class="key">Equivalents</span>
  <span class="value">
      <ul>
        <li
          *ngFor="let equivalentId of product.equivalents"
          (click)="openProductCard(equivalentId)"
          class="link">
            {{getAlternative(equivalentId).name}}
        </li>
      </ul>
  </span>
</div>
<div class="param">
    <span class="key">Available</span>
    <span class="value">{{product.isAvailable ? '✔ In Stock' : '✖ Not Available'}}</span>
</div>
<div class="param">
    <span class="key">Price</span>
    <span class="value">{{product.price | currency:'UAH':'symbol-narrow':'.2':'uk'}}</span>
</div>
<div class="param">
    <button
      class="button"
      (click)="backToProducts()">
        {{'Back to products' | uppercase}}
    </button>
</div>
