.cart-list
  &__totals
    margin-top: 20px
    display: inline-block
    width: 80%

  &__total-name
    display: inline-block
    width: 150px

  &__total-value
    font-weight: bold

  &__button
    height: 24px
    width: 79px

