<div class="product">
  <span class="product__name">{{product.name}}</span>
  <span class="product__description">{{product.description}}</span>
  <span class="product__category product__category_lowercase">{{product.category}}</span>
  <span class="product__materials">
    <span *ngFor="let material of product.materials; let isLast=last">
      {{material}}{{isLast ? '' : ', '}}
    </span>
  </span>
  <span class="product__equivalents">
    <span *ngFor="let equivalent of product.equivalents; let isLast=last">
      {{getAlternative(equivalent).name}}{{isLast ? '' : ', '}}
    </span>
  </span>
  <span class="product__availability">{{product.isAvailable ? '✔' : '✖'}}</span>
  <span class="product__price">{{product.price | currency:'UAH':'symbol-narrow':'.2':'uk'}}</span>
</div>
