<div>
  <span class="product__name">{{product.name}}</span>
  <span class="product__description">{{product.description}}</span>
  <span class="product__category product__category_lowercase">{{product.category}}</span>
  <span class="product__ingredients">
    <span *ngFor="let ingredient of product.ingredients; let isLast=last">
      {{ingredient}}{{isLast ? '' : ', '}}
    </span>
  </span>
  <span class="product__equivalents">
    <span *ngFor="let equivalent of product.equivalents; let isLast=last">
      {{getAlternative(equivalent).name}}{{isLast ? '' : ', '}}
    </span>
  </span>
  <span class="product__availability">{{product.isAvailable ? '✔' : '✖'}}</span>
  <span class="product__price">{{product.price | currency:'UAH':'symbol-narrow':'.2':'uk'}}</span>
  <input
    class="product__quantity"
    type="number"
    min="1"
    max="9"
    [value]="quantity"
    [disabled]="!product.isAvailable"
    (change)="onChangeQuantity($event)"
    (blur)="onBlurQuantity($event)"
    (click)="stopPropagation($event)"
  />
  <button
    appHighlight
    seconds="2"
    class="product__button"
    [disabled]="!product.isAvailable"
    [ngClass]="{'product__button_available': product.isAvailable, 'product__button_unavailable': !product.isAvailable}"
    (click)="buyProduct($event)"
  >{{ (product.isAvailable ? 'buy' : 'n/a') | uppercase }}</button>
</div>
