.product__name,
.product__description
  display: inline-block
  width: 150px

.product__price
  display: inline-block
  width: 50px
  text-align: center
  background-color: grey
  color: white

.product__category
  display: inline-block
  width: 100px
  text-transform: lowercase

.product__availability
  display: inline-block
  width: 20px

.product__ingredients
  display: inline-block
  width: 150px

.product__equivalents
  display: inline-block
  width: 250px

.product__button
  &_available
    color: white
    background-color: green
    border: none
    outline: none

  &_unavailable
    color: #999
    background-color: #666
    border: none
    outline: none
