<div>
  <span class="product__name">{{product.name}}</span>
  <span class="product__description">{{product.description}}</span>
  <span class="product__category product__category_lowercase">{{product.category}}</span>
  <span class="product__materials">
    <span *ngFor="let material of product.materials; let isLast=last">
      {{material}}{{isLast ? '' : ', '}}
    </span>
    <span *ngIf="!product.materials.length">&nbsp;</span>
  </span>
  <span class="product__alternatives">
    <span *ngFor="let alternative of product.alternativesWithNames; let isLast=last">
      {{alternative.name}}{{isLast ? '' : ', '}}
    </span>
    <span *ngIf="!product.alternativesWithNames.length">&nbsp;</span>
  </span>
  <span class="product__availability">{{product.isAvailable ? '✔' : '✖'}}</span>
  <span class="product__price">{{product.price | currency:'UAH':'symbol-narrow':'.2':'uk'}}</span>
  <input
    class="product__quantity"
    type="number"
    min="1"
    max="9"
    [value]="quantity"
    [disabled]="!product.isAvailable"
    (change)="onChangeQuantity($event)"
    (blur)="onBlurQuantity($event)"
    (click)="stopPropagation($event)"
  />
  <button
    appHighlight
    seconds="1"
    class="product__button"
    [disabled]="!product.isAvailable"
    [ngClass]="{'product__button_available': product.isAvailable, 'product__button_unavailable': !product.isAvailable}"
    (click)="buyProduct($event)"
  >
    {{ (product.isAvailable ? 'buy' : 'n/a') | uppercase }}
  </button>
</div>
