.product

  &__name,
  &__description
    display: inline-block
    width: 150px

  &__price
    display: inline-block
    height: 24px
    width: 48px
    text-align: center
    background-color: grey
    color: white

  &__category
    display: inline-block
    width: 100px
    text-transform: lowercase

  &__availability
    display: inline-block
    width: 20px

  &__ingredients
    display: inline-block
    width: 150px

  &__equivalents
    display: inline-block
    width: 250px

  &__button
    height: 24px
    width: 48px
    border: none
    outline: none

    &_available
      color: white
      background-color: green

    &_highlighted
      color: white
      background-color: orange

    &_unavailable
      color: #999
      background-color: #666

  &__quantity
    box-sizing: border-box
    height: 24px
    width: 48px
