.product-list

  &__header
    margin: 5px 0
    user-select: none
    overflow: hidden

    & > span
      border-width: 1px 0 1px 1px
      border-color: grey
      border-style: solid
      box-sizing: border-box
      height: 32px
      line-height: 32px
      text-align: center
      float: left

      &:last-of-type
        border-width: 1px

  &__name,
  &__description
    display: inline-block
    width: 15%

    @media screen and (max-width: 1200px)
      width: 23%

  &__category
    display: inline-block
    width: 12%

    @media screen and (max-width: 1200px)
      width: 14%

  &__materials
    display: inline-block
    width: 12%

    @media screen and (max-width: 1200px)
      display: none

  &__equivalents
    display: inline-block
    width: 18%

    @media screen and (max-width: 1200px)
      display: none

  &__availability
    display: inline-block
    text-align: center
    width: 8%

    @media screen and (max-width: 1200px)
      width: 14%

  &__price
    display: inline-block
    height: 24px
    width: 8%

    @media screen and (max-width: 1200px)
      width: 10%

  &__quantity
    display: inline-block
    width: 5%

    @media screen and (max-width: 1200px)
      width: 7%

  &__button
    display: inline-block
    width: 7%

    @media screen and (max-width: 1200px)
      width: 9%
