<div>
  <div class="title">Products</div>
  <header class="product-list__header">
    <span class="product-list__name sortable" (click)="sortProducts('name')">Name</span>
    <span class="product-list__description sortable" (click)="sortProducts('description')">Description</span>
    <span class="product-list__category sortable" (click)="sortProducts('category')">Category</span>
    <span class="product-list__materials">Materials</span>
    <span class="product-list__alternatives">Alternatives</span>
    <span class="product-list__availability sortable" (click)="sortProducts('isAvailable')">Available</span>
    <span class="product-list__price sortable" (click)="sortProducts('price')">Price</span>
    <span class="product-list__quantity">Qty</span>
    <span class="product-list__button">Buy</span>
  </header>
  <div *ngIf="(productsError$ | async) as error" class="error">{{error}}</div>
  <app-product
    *ngFor="let product of (products$ | async)"
    [product]="product"
  ></app-product>
  <app-cart-list></app-cart-list>
</div>
