.product-list

  &__header
    margin: 5px 0

    & > span
      display: inline-block
      border: 1px solid grey
      box-sizing: border-box
      height: 32px
      line-height: 32px
      text-align: center

  &__name,
  &__description
    width: 150px

  &__price
    height: 24px
    width: 84px

  &__category
    width: 100px

  &__availability
    width: 100px
    text-align: center

  &__ingredients
    width: 150px

  &__equivalents
    width: 250px

  &__quantity
    width: 48px

  &__button
    width: 48px
