.cart-item
  &-info
    display: inline-block
    width: 80%
    height: 24px

  &-buttons
    width: 20%

    &__button
      width: 24px
      height: 24px
      vertical-align: middle
      padding: 0

\:host
  &.basic
    color: green

  &.highlighted
    color: grey

    & div
      background-color: orange
