<div>
  <span class="cart-item__info">
      {{product.name}}
      [{{product.quantity}} x ${{product.price}} = <strong>${{product.quantity * product.price}}</strong>]
  </span>

  <button class="cart-item__button" (click)="cartService.updateQuantity(product.id, '+')">&#x2795;</button>
  <button class="cart-item__button" (click)="cartService.updateQuantity(product.id, '-')">&#x2796;</button>
  <button class="cart-item__button" (click)="cartService.removeProduct(product.id)">&#x2716;</button>
</div>
