<div class="title">Products:</div>
<header class="products__header">
  <span class="products__name sortable" (click)="sortProducts('name')">Name</span>
  <span class="products__description sortable" (click)="sortProducts('description')">Description</span>
  <span class="products__category sortable" (click)="sortProducts('category')">Category</span>
  <span class="products__materials">Materials</span>
  <span class="products__equivalents">Equivalents</span>
  <span class="products__availability sortable" (click)="sortProducts('isAvailable')">Available</span>
  <span class="products__price sortable" (click)="sortProducts('price')">Price</span>
</header>
<app-product
  *ngFor="let product of products"
  [product]="product"
></app-product>
