<div>
  <span class="product-name">{{product.name}}</span>
  <span class="product-description">{{product.description}}</span>
  <span class="product-category">{{product.category}}</span>
  <span class="product-ingredients">
    <span *ngFor="let ingredient of product.ingredients; let isLast=last">
      {{ingredient}}{{isLast ? '' : ', '}}
    </span>
  </span>
  <span class="product-equivalents">
    <span *ngFor="let equivalent of product.equivalents; let isLast=last">
      {{getAlternative(equivalent).name}}{{isLast ? '' : ', '}}
    </span>
  </span>
  <span class="product-available">{{product.isAvailable ? '&#x2714;' : '&#x2716;'}}</span>
  <span class="product-price">${{product.price}}</span>
  <button (click)="buyProduct()" [disabled]="!product.isAvailable">Buy Me</button>
</div>
