<div *ngIf="updatedProduct">
  <div class="title">{{updatedProduct.name}}</div>
  <form #form="ngForm" (ngSubmit)="save(form)">
    <div class="product-editor__param">
      <span class="product-editor__key product-editor__key_required">Name</span>
      <span class="product-editor__value">
        <input
          type=text
          [(ngModel)]="updatedProduct.name" name="name"
          class="product-editor__input"
          required
        />
      </span>
    </div>
    <div class="product-editor__param">
      <span class="product-editor__key product-editor__key_required">Description</span>
      <span class="product-editor__value">
        <input
          type=text
          [(ngModel)]="updatedProduct.description" name="description"
          class="product-editor__input"
          required
        />
      </span>
    </div>
    <div class="product-editor__param">
      <span class="product-editor__key product-editor__key_required">Category</span>
      <span class="product-editor__value">
        <select
          [(ngModel)]="updatedProduct.category" name="category"
          class="product-editor__select"
          required
        >
          <option *ngFor="let category of categories" [ngValue]="category">
            {{category | titlecase}}
          </option>
        </select>
      </span>
    </div>
    <div class="product-editor__param">
        <span class="product-editor__key product-editor__key_required">Price</span>
        <span class="product-editor__value">
          <input
            type="number"
            min="1"
            max="999999"
            [(ngModel)]="updatedProduct.price" name="price"
            class="product-editor__input product-editor__input_price"
            required
          /><span class="product-editor__currency">₴</span>
        </span>
    </div>
    <div class="product-editor__param">
        <span class="product-editor__key">Available</span>
        <select
          [(ngModel)]="updatedProduct.isAvailable" name="isAvailable"
          class="product-editor__input"
        >
          <option [ngValue]="true">✔ In Stock</option>
          <option [ngValue]="false">✖ Not Available</option>
        </select>
    </div>
    <div class="product-editor__param">
      <span class="product-editor__key">Materials</span>
      <span class="product-editor__value">
        <div *ngFor="let material of updatedProduct.materials">
          <span class="product-editor__material">
            {{material}}
          </span><button
            type="button"
            class="product-editor__action product-editor__action_delete"
            (click)="removeMaterial(material)">✖</button>
        </div>
        <form (ngSubmit)="addMaterial()">
          <input
            class="product-editor__input product-editor__input_with-action"
            type=text
            [(ngModel)]="newMaterial" [ngModelOptions]="{standalone: true}"
            placeholder="add material"
          /><button
            type="submit"
            class="product-editor__action product-editor__action_add"
          >✔</button>
        </form>
      </span>
    </div>
    <div class="product-editor__param">
      <span class="product-editor__key">Alternatives</span>
      <span class="product-editor__value">
        <select
          class="product-editor__select product-editor__select_multi"
          multiple
          [(ngModel)]="updatedProduct.alternatives" name="alternatives"
        >
          <option
            *ngFor="let otherProduct of otherProducts"
            [ngValue]="otherProduct.id"
          >
            {{otherProduct.name}}
          </option>
        </select>
      </span>
    </div>
    <div class="product-editor__param">
      <button
        type="button"
        class="product-editor__button"
        (click)="backToProducts()"
      >
          {{'back to products' | uppercase}}
      </button>
      <button
        type="submit"
        class="product-editor__button product-editor__button_save"
        [disabled]="form.invalid"
      >
        {{'save' | uppercase}}
      </button>
      <button
        type="button"
        class="product-editor__button product-editor__button_delete"
        (click)="delete()"
      >
        {{'delete' | uppercase}}
      </button>
    </div>
  </form>
</div>
<div *ngIf="error" class="error">Error: {{error}}</div>
