<div *ngIf="!authService.auth()" class="auth">
  <form class="auth__form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <input
      class="auth__input"
      type="text"
      formControlName="username"
    />
    <input
      class="auth__input"
      type="password"
      formControlName="password"
    />
    <button class="auth__button">login</button>
  </form>
</div>
<div *ngIf="authService.auth()" class="auth">
  [{{authService.getUsername()}}/{{authService.getToken()}}]
  <button class="auth__button" (click)="openAdminZone()">admin</button>
  <button class="auth__button" (click)="logout()">logout</button>
</div>
