/* You can add global styles to this file, and also import other style files */
body
  font-family: Georgia, Times, Times New Roman, serif

.title
  margin: 10px 0
  padding: 10px
  background-color: #999
  color: #fff

.sortable
  cursor: pointer

  &::after
    content: ' ⇕';
